<template>
  <header class="header-cont">
    <v-container>
      <v-row>
        <v-col>
          <LogoEmp
              dark
              size="18"
              size-icon="30"
          />
        </v-col>

        <v-col >
          <div class="cont-name"><div class="name">{{name}}</div><v-btn
                icon
                color="#fff"
                large
                @click="logOut"
            >
              <v-icon >mdi-exit-to-app</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </header>
</template>

<script>
import LogoEmp from "@/components/titles/LogoEmp";
import { RepositoryFactory } from "@/service/ServiceFactory.js";
const AuthService = RepositoryFactory.get("auth");

export default {
  components:{LogoEmp},
  props: {
    name:{
      type: String,
      required: true,

    }
  },
  methods:{
    async logOut(){
      await AuthService.logout();
      localStorage.clear();
      this.$router.push({ name: "Login" });
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";

.header-cont{
  background: getColor(white);
}

.cont-name{
  background: getColor(dark-primary);
  padding: 5px 10px;
  font-weight: bold;
  color: getColor(white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
</style>