<template>
  <div class="container-text-field">
    <label class="title">{{ label }}</label>
    <v-text-field
        class="text-custom"
        :placeholder="placeholder"
        v-model="data"
        color="pink"
        :error-messages="errors"
        @blur="v.$touch()"
        :type="password ? 'password' : 'text'"
        solo
    ></v-text-field>
  </div>
</template>

<script>
export default {
  props: {
    value: [String, Number],
    label: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: false
    },
    v: {
      type: Object,
      required: true
    },
    password: {
      type: Boolean,
      required: false,
      default:false
    },
    errors: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    data: {
      get() {
        return this.value;
      },
      set(value) {
        this.v.$touch();
        this.$emit("input", value);
      }
    }
  }
};
</script>

<style lang="scss">
@import "@/styles/main.scss";
.v-messages__message {
  color: aliceblue;
}

.container-text-field{
  display: flex;
  flex-direction: column;
  .title {
    text-align: right;
    color: getColor(white);
    font-size: rems(14);
    font-weight: bold;
  }
  .text-custom{
    .v-messages__message {
      color: getColor(white);
    }

  }
}







</style>
