<template>
  <div style="width: 100%">
    <div class="title-cont">
      <TitleSubline
          title = "Comparte tu idea"
      />
    </div>
      <v-textarea
          v-model="data"
          :error-messages="errors"
          @blur="v.$touch()"
          solo
      />
    <div class="cont-button">
      <BottonEmp title="Enviar" @click.native="click"/>
    </div>
  </div>
</template>

<script>
import TitleSubline from "@/components/titles/TitleSubline";
import BottonEmp from "@/components/buttons/BottonEmp.vue";



export default {
  components:{TitleSubline, BottonEmp},
  props: {
    click:{
      type:Function,
      required: true
    },
    value: [String, Number],
    v: {
      type: Object,
      required: true
    },
    errors: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    data: {
      get() {
        return this.value;
      },
      set(value) {
        this.v.$touch();
        this.$emit("input", value);
      }
    }
  }
}
</script>

<style lang="scss">
@import "@/styles/main.scss";

.title-cont{
  width: 50%;
  margin-bottom: rems(20);
}

.cont-button{
  display: flex;
  justify-content:flex-end;
  width: 100%;
}
.v-messages__message {
  color: getColor(primary);
}

</style>