<template>
  <div class="cont-logo">
    <div class="icon">
      <v-icon
          color="#D8504A"
          :size="sizeIcon"
      >
        mdi-compass
      </v-icon>
    </div>
    <div class="text" :style="{color: dark ? secondColor : '#fff' , fontSize: size+'px'}">
      emprenD
    </div>
  </div>
</template>

<script>
import style from "@/styles/main.scss";

export default {
  props: {
    size: {
      type: String,
      required: false,
      default: "34"
    },
    sizeIcon: {
      type: String,
      required: false,
      default: "55"
    },
    dark: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data(){
    return{
      colorPrimary: style.primaryColor,
      secondColor: style.secondColor
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";

.cont-logo{
  display: flex;
  text-align: center;
  justify-content: center;
  .text{
    font-weight: bold;
  }
}
</style>