<template>
  <div class="title">
    {{title}}
  </div>
</template>

<script>
import style from "@/styles/main.scss";

export default {
  props: {
    title: {
      type: String,
      required: false,
    },
  },
  data(){
    return{
      colorPrimary: style.primaryColor,
      secondColor: style.secondColor
    }
  }
}

</script>

<style scoped lang="scss">
@import "@/styles/main.scss";

.title{
  color: getColor(second);
  font-size: rems(25);
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid getColor(primary);
  width: 100%;
}

</style>