<template>
  <div class="container-button" v-ripple>
    <div class="title">{{title}}</div>
    <v-icon
        color="#fff"
        small
    >
      mdi-arrow-right
    </v-icon>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
  },
  computed: {}
};
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";

.container-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: getColor(primary);
  width: rems(120);
  height: rems(40);
  cursor: pointer;

  .title{
    color: getColor(white);
    margin-right: rems(5);
  }


}




</style>
