<template>
  <div class="bg-lista">
    <v-row
    align="center"
    align-content="center"
    >
      <v-col cols="1" >
        <v-icon
            size="60"
            color="#efefef"
        >
          mdi-account-circle
        </v-icon>
      </v-col>
      <v-col cols="11">
        <div class="cont-tex">{{ text }}</div>
        <div class="date">{{ footer }}</div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { RepositoryFactory } from "@/service/ServiceFactory.js";
const userService = RepositoryFactory.get("auth");

export default {
  props: {
    text: {
      type: String,
      required: true
    },
    userId: {
      type: Number,
      required: true
    },
    date:{
      type: String,
      required: true
    }
  },
  data(){
    return {
      nameUserItem: ''
    }
  },
  methods:{
    async getNameUser(){
      const data = await userService.getUser(this.userId);
      this.nameUserItem = data.data.data.name;
    }
  },
  computed:{
    footer(){
      return `${this.date} ${this.nameUserItem}`;
    }
  },
  created() {
    this.getNameUser();
  }
}
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";
.bg-lista{
  background: getColor(second);
  width: 100%;
  padding: rems(10);
  color: getColor(white);
  .cont-tex{
    background: getColor(dark-gray);
    color: getColor(second);
    font-weight: 600;
    padding: rems(10);
  }
  .date{
    text-align: right;
  }
}
</style>