<template>
  <div class="bg">
    <HeaderNavEmp
        :name="nameUser" />
    <v-container>
      <v-row>
        {{ui.currentPage}}
        <TextFieldShareIdea
        v-model="model.body"
        :click="saveComment"
        :v="$v.model.body"
        :errors="errorBody"
        ></TextFieldShareIdea>
      </v-row>
      <br>
      <v-row>
        <div class="text-center">
          <v-pagination
              v-model="ui.pagination.page"
              :length="ui.pagination.length"
              color="#fe6261"
              circle
          ></v-pagination>
        </div>
        <ListIdeaItem
          v-for = "comment in comments"
          :key = "comment.id"
          :user-id = "comment.user_id"
          :date = "formatDate(comment.created_at)"
          :text = "comment.body"
        />
      </v-row>
    </v-container>
    <Snackbar v-model="ui.snackbar" :text="ui.textError"/>
  </div>
</template>

<script>
import HeaderNavEmp from "@/components/headers/HeaderNavEmp";
import TextFieldShareIdea from "@/components/inputs/TextFieldShareIdea";
import ListIdeaItem from "@/components/lists/ListIdeaItem";
import Snackbar from "@/components/Snackbars/Snackbar";

import moment from 'moment'

import { RepositoryFactory } from "@/service/ServiceFactory.js";
const IdeaService = RepositoryFactory.get("idea");

import {maxLength, required} from "vuelidate/lib/validators";
import {MESSAGE_VALIDATION} from "@/utils/validation";

export default {
  components:{ HeaderNavEmp, TextFieldShareIdea, ListIdeaItem, Snackbar},
  data(){
    return{
      model:{
        body:''
      },
      comments:[],
      ui:{
        snackbar : false,
        textError:'',
        pagination: {
          page: 1,
          length:0
        }
      },
    }
  },
  validations : {
    model:{
      body:{
        required,
        maxLength: maxLength(255)
      }
    }
  },
  methods:{
    async getAllIdeas(){
      const data = await IdeaService.allIdeas();
      this.comments = data.data.data;
      this.ui.pagination.page = data.data.meta.current_page;
      this.ui.pagination.length = data.data.meta.last_page;
    },
    async getIdeasPagination(){
      const data = await IdeaService.getIdeasByPage(this.ui.pagination.page);
      this.comments = data.data.data;
    },
    formatDate(stringDate){
      return moment(stringDate).format('l');
    },
    async saveComment(){
      try {
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }
        await IdeaService.saveIdea(this.model);
        this.getAllIdeas();
        this.model.body = '';
        this.ui.textError = 'Se guardo correctamente su comentario';
        this.ui.snackbar = true;
      }catch (e) {
        this.ui.textError = e.response.statusText;
        this.ui.snackbar = true;
      }

    }

  },
  computed:{
    errorBody(){
      const errors = [];
      const {
        $dirty,
        required,
        maxLength
      } = this.$v.model.body;

      if (!$dirty) return errors;
      !required && errors.push(MESSAGE_VALIDATION.REQUIRED);
      !maxLength && errors.push(MESSAGE_VALIDATION.MAXLENGTH);
      return errors;
    },
    nameUser(){
      return localStorage.getItem('name');
    }
  },
  watch: {
    "ui.pagination.page": {
      handler: function() {
        this.getIdeasPagination();
      },
      deep: true
    },
  },
  mounted() {
    this.getAllIdeas();
  }
};
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";

.bg{
  width: 100%;
  min-height:100vh;
  background: getColor(dark-gray);
  display: flex;
  flex-direction: column;
}

</style>
