<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: "App",
  components: {
  },
  data() {
    return { };
  }
};
</script>

<style lang="scss">
@import "./styles/main.scss";
</style>
