<template>
  <div class="bg-login">
    <v-container class="card-login">
      <Logo></Logo>
      <TextFieldEmp
          v-model.trim="model.name"
          label="Nombre"
          :v="$v.model.name"
          :errors="errorName"
      />
      <TextFieldEmp
          v-model.trim="model.email"
          label="email"
          :v="$v.model.email"
          :errors="errorEmail"
      />
      <TextFieldEmp
          v-model.trim="model.password"
          label="Contraseña"
          :v="$v.model.password"
          :errors="cPasswordErrors"
          password
      />
      <TextFieldEmp
          v-model.trim="model.password_confirmation"
          label="Confirmar contraseña"
          :v="$v.model.password_confirmation"
          :errors="cConfirmPasswordErrors"
          password
      />
      <div class="cont-button">
        <div class="regresar" @click="$router.push({ name: 'Login' })">Regresar</div>
        <BottonEmp title="Enviar"  @click.native="saveUser"/>
      </div>
    </v-container>
    <Snackbar v-model="ui.snackbar" :text="ui.textError"/>
  </div>
</template>

<script>

import TextFieldEmp from "@/components/inputs/TextFieldEmp.vue";
import BottonEmp from "@/components/buttons/BottonEmp.vue";
import Logo from "@/components/titles/LogoEmp.vue";
import Snackbar from "@/components/Snackbars/Snackbar";
import {
  required,
  email,
  minLength,
  maxLength,
  sameAs
} from "vuelidate/lib/validators";

import { RepositoryFactory } from "@/service/ServiceFactory.js";
const AuthService = RepositoryFactory.get("auth");
import {
  MESSAGE_VALIDATION
} from "./../../utils/validation";


export default {
  components: {TextFieldEmp, BottonEmp, Logo, Snackbar},
  data(){
    return {
      ui:{
        snackbar : false,
        textError:''
      },
      model:{
        name:'',
        email:'',
        password:'',
        password_confirmation:'',
      }
    }
  },
  validations:{
    model:{
      name:{
        required,
        maxLength: maxLength(255),
      },
      email:{
        email,
        required,
        maxLength: maxLength(255),
      },
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(255),
      },
      password_confirmation: {required, sameAsPassword: sameAs("password") },
    }
  },
  methods:{
    async saveUser(){
      try{
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }
        const data = await AuthService.signup(this.model);
        localStorage.setItem('token', data.data.data.api_token);
        localStorage.setItem('name', data.data.data.name);
        this.$router.push({ name: "CreateIdea" });

      } catch (e) {
        this.ui.textError = e.response.statusText;
        this.ui.snackbar = true;
      }
    }
  },
  computed:{
    errorName(){
      const errors = [];
      const {
        $dirty,
        required,
        maxLength
      } = this.$v.model.name;

      if (!$dirty) return errors;
      !required && errors.push(MESSAGE_VALIDATION.REQUIRED);
      !maxLength &&
      errors.push(MESSAGE_VALIDATION.MAXLENGTH);

      return errors;
    },
    errorEmail(){
      const errors = [];
      const {
        $dirty,
        required,
        email,
        maxLength
      } = this.$v.model.email;

      if (!$dirty) return errors;
      !required && errors.push(MESSAGE_VALIDATION.REQUIRED);
      !email && errors.push(MESSAGE_VALIDATION.EMAIL_FORMAT);
      !maxLength &&
      errors.push(MESSAGE_VALIDATION.MAXLENGTH);
      return errors;
    },
    cPasswordErrors() {
      const errors = [];
      const {
        $dirty,
        required,
        minLength,
        maxLength
      } = this.$v.model.password;

      if (!$dirty) return errors;
      !required &&
      errors.push(MESSAGE_VALIDATION.REQUIRED);
      !minLength &&
      errors.push(MESSAGE_VALIDATION.MINLENGTH);
      !maxLength &&
      errors.push(MESSAGE_VALIDATION.MAXLENGTH);

      return errors;
    },
    cConfirmPasswordErrors() {
      const errors = [];
      const {
        $dirty,
        required,
        sameAsPassword
      } = this.$v.model.password_confirmation;

      if (!$dirty) return errors;
      !required && errors.push(MESSAGE_VALIDATION.REQUIRED);
      !sameAsPassword && errors.push(MESSAGE_VALIDATION.SAME_AS_PASSWORD);
      return errors;
    },
  },
}
</script>


<style scoped lang="scss">
@import "@/styles/main.scss";

.bg-login{
  width: 100%;
  height:100vh;
  background: getColor(second);
  display: flex;
  align-items: center;
  .card-login{
    max-width: rems(400);
    .cont-button{
      display: flex;
      width: 100%;
      justify-content: space-between;
      .regresar{
        color: getColor(white);
        cursor: pointer;
      }
    }
  }
}


</style>
