<template>
  <div class="bg-login">
    <v-container class="card-login">
        <Logo></Logo>
        <TextFieldEmp
            v-model.trim="model.email"
            label="Email"
            :v="$v.model.email"
            :errors="errorEmail" />
        <TextFieldEmp
            v-model.trim="model.password"
            label="Contraseña"
            :v="$v.model.password"
            :errors="cPasswordErrors"
            password
        />

      <div class="cont-button">
        <div class="crear-cuenta" @click="$router.push({ name: 'SingUp' })">Crear una cuenta</div>
        <BottonEmp title="Enviar"  @click.native="login" />
      </div>
    </v-container>
    <Snackbar v-model="ui.snackbar" :text="ui.textError"/>
  </div>
</template>

<script>

import TextFieldEmp from "@/components/inputs/TextFieldEmp.vue";
import BottonEmp from "@/components/buttons/BottonEmp.vue";
import Logo from "@/components/titles/LogoEmp.vue";
import Snackbar from "@/components/Snackbars/Snackbar";

import {email, maxLength, minLength, required} from "vuelidate/lib/validators";
import {MESSAGE_VALIDATION} from "@/utils/validation";


import { RepositoryFactory } from "@/service/ServiceFactory.js";
const AuthService = RepositoryFactory.get("auth");

export default {
  components: {TextFieldEmp, BottonEmp, Logo, Snackbar},
  data(){
    return {
      ui:{
        snackbar : false,
        textError:''
      },
      model:{
        email:'',
        password:'',
      }
    }
  },
  validations:{
    model:{
      email:{
        email,
        required,
        maxLength: maxLength(255),
      },
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(255),
      },
    }
  },
  methods:{
    async login(){
      try{
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }
       const data =  await AuthService.login(this.model);
        localStorage.clear();
        localStorage.setItem('token', data.data.data.api_token);
        localStorage.setItem('name', data.data.data.name);
        this.$router.push({ name: "CreateIdea" });

      } catch (e) {
        this.ui.textError = e.response.statusText;
        this.ui.snackbar = true;
      }
    }
  },
  computed:{
    errorEmail(){
      const errors = [];
      const {
        $dirty,
        required,
        email,
        maxLength
      } = this.$v.model.email;

      if (!$dirty) return errors;
      !required && errors.push(MESSAGE_VALIDATION.REQUIRED);
      !email && errors.push(MESSAGE_VALIDATION.EMAIL_FORMAT);
      !maxLength &&
      errors.push(MESSAGE_VALIDATION.MAXLENGTH);
      return errors;
    },
    cPasswordErrors() {
      const errors = [];
      const {
        $dirty,
        required,
        minLength,
        maxLength
      } = this.$v.model.password;

      if (!$dirty) return errors;
      !required &&
      errors.push(MESSAGE_VALIDATION.REQUIRED);
      !minLength &&
      errors.push(MESSAGE_VALIDATION.MINLENGTH);
      !maxLength &&
      errors.push(MESSAGE_VALIDATION.MAXLENGTH);

      return errors;
    },
  },

}
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";

.bg-login{
  width: 100%;
  height:100vh;
  background: getColor(second);
  display: flex;
  align-items: center;
  .card-login{
   max-width: rems(400);
    .cont-button{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .crear-cuenta{
    color:getColor(white);
    cursor: pointer;
  }

}


</style>
