<template>
  <div class="">
    <v-snackbar
        v-model="data"
        left
        :vertical="true"
        color="#fe6261"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="data = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {

  props:{
    value: [Boolean],
    text:{
      type: String,
    },
  },
  data(){
    return {
    }
  },
  computed: {
    data: {
      get() {
        return this.value;
      },
      set(value) {
        // this.v.$touch();
        this.$emit("input", value);
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/styles/main.scss";
</style>