@function getColor($color) {
  @return map-get($map: $colors, $key: $color);
}

@function getShadow($shadow) {
  @return map-get($map: $shadows, $key: $shadow);
}

@function rems($value) {
  @return $value/16 + rem;
}

@function getTrans($trans) {
  @return map-get($map: $transparencies, $key: $trans);
}

$colors: (
  // Named colors
  white: #fff,
  primary: #fe6261,
  dark-primary: #D8504A,
  second: #333333,

  dark-gray: #efefef,

);

// Colors
$primary-color: #fe6261;
$second: #333333;

// Font Size
$font-size-large: 15px;
$font-size-small: 11px;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

:export {
  primaryColor: $primary-color;
  secondColor: $second;
}
